html{
    font-family: sans-serif;
    line-height: 160%;
}

:root{
    --color1: #ADD8E6;
    --color2: #daa521;
    --color3: #EE81EE;
    --color4: #D3D3D3;
    --color5: #21B2AA;
    --color6: #23272A;
}
header{
    padding-block: 15px;
    background-image: url(../img/jumbo.png );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu ul{
    display: flex;
    column-gap: 10px;
}

a{
    color: white;
}

.flex{
    display: flex;
}

header > .flex{
    justify-content: space-around;
    align-items: center;
}

.btn{
    border-radius: 20px;
    /*padding-inline: 15px;
    padding-block: 10px ;*/
    padding: 10px 15px;
    border: none;
}

.btn__white{
    color: black;
    background-color: #fff
}

.btn__black{
    color: white;
    background-color: black;
}

.btn__blue{
    color: white;
    background-color: blue
}

.textContainer{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: white;
}

.textContainer__title{
    text-transform: capitalize;
}

.bg-gray .textContainer{
    color: black;
}

.container-80{
    width: 70%;
    margin: 0 auto;
}


main section.bg-gray{
    background-color: var(--color4);
}

.flex-basis-60{
    flex-basis: 60%
}

.flex-basis-40{
    flex-basis: 40%;
}

footer{
    background-color: rgb(25, 25, 131) 
}

footer .flex div{
    flex-basis: calc((100%) / 5);
}

footer .flex div:first-child{
    flex-basis: 25%;
}

